.btn {
  background: rgba(220, 220, 220, 0.6);
  border: none;
  border-radius: 2px;
  font-size: 20px;
  padding: 5px 10px;
  transition: background 0.3s, box-shadow 0.3s;
}

.btn:hover {
  background: rgb(220, 220, 220);
  box-shadow: 0 0 3px 0 #333333;
}

.btn.btn-primary {
  background: rgba(22, 22, 200, 0.6);
  color: white;
}

.btn.btn-primary:hover {
  background: rgb(22, 22, 200);
}

.btn.btn-danger {
  background: rgba(200, 22, 22, 0.6);
  color: white;
}

.btn.btn-danger:hover {
  background: rgb(200, 22, 22);
}

.code {
  background: #DDDDDD;
  border-radius: 2px;
  font-family: monospace;
  margin: 20px 5px;
  padding: 5px;
}

@keyframes x {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: x 1s infinite linear;
}

@font-face {
  font-family: 'display';
  src: url('display.otf');
}

h2 {
  font-family: 'display';
}

body {
  font-family: Roboto;
}

@media screen and (max-width: 600px) {
  .medium-screen {
    display: none;
  }

  .large-screen {
    display: none;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .small-screen {
    display: none;
  }

  .large-screen {
    display: none;
  }
}

@media screen and (min-width: 1001px) {
  .small-screen {
    display: none;
  }

  .medium-screen {
    display: none;
  }
}

.navbar {
  align-items: center;
  background: #333333;
  color: white;
  display: flex;
  height: 40px;
  font-size: 20px;
  padding: 0 10px;
}

.navbar > .left {
  margin-right: auto;
}

.navbar > .right {
  margin-left: auto;
}
